{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="{% static 'styles/css/header.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'styles/images/shark_pitch_logo.jpg' %}" alt="" id="logo">
       <a href="{% url 'home' %}" id="shark">SHARK PITCH</a>
        <a href="{% url 'home' %}" id="about">About Us</a>
        <a href="{% url 'home' %}" id="contact">Contact Us</a>
        <a href="{% url 'home' %}" id="logout">Logout</a>
        <img src="{% static 'styles/images/profile.jpg' %}" alt="" id="prof">
    </header>
    
</body>
</html>