{% load static %}
{% include 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investor_profile</title>
    <link rel="stylesheet" href="{% static 'styles/css/Investor_profile.css' %}">
</head>
<body>
    <h1 id="myprofile">My Profile</h1>
    <div id="Main-profile-Container">
        <div id="avatar-card">
            <img src="{% static 'styles/images/profile.jpg' %}" alt="profile_photo" id="avatar">
            <h2 id="name1">Srinivas Reddy</h2>
            <p id="title">Full-Time Investor</p>
            <p id="loc">Hyd,India</p>
        </div>
        <div id="details-card">
            <div id="a">
                <table>
                <tr>
                    <td><strong>Name :</strong></td>
                    <td>Srinivas Reddy</td>
                </tr>
                <tr>
                    <td><strong>Mail ID : </strong></td>
                    <td>srinivas@gmail.com</td>
                </tr>
                <tr>
                    <td><strong>Company Name :</strong></td>
                    <td>Shark Industries</td>
                </tr>
                <tr>
                    <td><strong>Contact :</strong></td>
                    <td>7036469121</td>
                </tr>
                <tr>
                    <td><strong>Location :</strong></td>
                    <td>Hyd,India</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="experience-container">
        <h2 id="exp">Experience:</h2>
        <p id="exp-content">My past investing experience includes navigating market fluctuations and
            identifying lucrative opportunities. One notable investment was in a promising 
           tech startup, which yielded significant returns. I've balanced my portfolio with
            stocks, bonds, andreal estate, learning from both gains and losses.</p>
    </div>
</body>
</html>
{% endblock%}