{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traction and Progress</title>
    <link rel="stylesheet" href="{% static 'css/startup_verification_pages/page2.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo-container">
            <img src="{% static 'images/shark_pitch_logo.jpg' %}" alt="Shark Pitch Logo" id="logo">
            <a href="{% url 'home' %}" id="shark">SHARK PITCH</a>
        </div>
        <nav>
            <a href="{% url 'home' %}" id="about">About Us</a>
            <a href="{% url 'home' %}" id="contact">Contact Us</a>
            <a href="{% url 'login' %}" id="logout">Login</a>
            <img src="{% static 'images/profile.jpg' %}" alt="Profile" id="prof">
        </nav>
    </header>

    <!-- Traction and Progress Section -->
    <div class="questions-container">
        <h2>Traction and Progress</h2>

        <!-- Questions -->
        <form id="questionsForm" method="post" action="{% url 'accounts:startup_register6_view' %}">
            {% csrf_token %}
            <div class="questions">
                <div class="question">
                    <p>1. What traction have you gained so far?</p>
                    <input type="text" name="q1" id="tractionGained" placeholder="Investors want to know about the startup's progress, such as user acquisition, revenue growth, or other key metrics.">
                </div>
                <div class="question">
                    <p>2. What are your key milestones and achievements?</p>
                    <input type="text" name="q2" id="keyMilestones" placeholder="Investors want to know about the startup's significant accomplishments and future goals.">
                </div>
                
                <button type="submit" >Next</button>
            </div>
        </form>
    </div>

    
</body>
</html>
