{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miscellaneous</title>
    <link rel="stylesheet" href="{% static 'css/startup_verification_pages/page2.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo-container">
            <img src="{% static 'images/shark_pitch_logo.jpg' %}" alt="Shark Pitch Logo" id="logo">
            <a href="{% url 'home' %}" id="shark">SHARK PITCH</a>
        </div>
        <nav>
            <a href="{% url 'home' %}" id="about">About Us</a>
            <a href="{% url 'home' %}" id="contact">Contact Us</a>
            <a href="{% url 'login' %}" id="logout">Login</a>
            <img src="{% static 'images/profile.jpg' %}" alt="Profile" id="prof">
        </nav>
    </header>

    <!-- Financials and Business Model Section -->
    <div class="questions-container">
        <h2>Miscellaneous</h2>

        <!-- Questions -->
        <form id="questionsForm" method="post" action="{% url 'accounts:startup_register8_view' %}">
            {% csrf_token %}
            <div class="questions">
                <div class="question">
                    <p>1. How did you come up with this idea?</p>
                    <input type="text" name="q1" id="problemSolved" placeholder="Investors want to know about the startup's origin and the founders' vision.">
                </div>
                <div class="question">
                    <p>2. What are your plans for scaling the business?</p>
                    <input type="text" name="q2" id="pointOfDifference" placeholder="Investors want to know about the startup's growth strategy and how it will achieve scalability.">
                </div>
                <div class="question">
                    <p>3. What are your key competitors and how do you differentiate yourself?</p>
                    <input type="text" name="q3" id="totalAddressableMarket" placeholder="Investors want to know about the competitive landscape and how the startup stands out.">
                </div>
                
                <button type="submit" >Next</button>
            </div>
        </form>
    </div>

</body>
</html>
