{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timing and Terms</title>
    <link rel="stylesheet" href="{% static 'css/startup_verification_pages/page2.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo-container">
            <img src="{% static 'images/shark_pitch_logo.jpg' %}" alt="Shark Pitch Logo" id="logo">
            <a href="{% url 'home' %}" id="shark">SHARK PITCH</a>
        </div>
        <nav>
            <a href="{% url 'home' %}" id="about">About Us</a>
            <a href="{% url 'home' %}" id="contact">Contact Us</a>
            <a href="{% url 'login' %}" id="logout">Login</a>
            <img src="{% static 'images/profile.jpg' %}" alt="Profile" id="prof">
        </nav>
    </header>

    <!-- Timing and Terms Section -->
    <div class="questions-container">
        <h2>Timing and Terms</h2>

        <!-- Questions -->
        <form id="questionsForm" method="post" action="{% url 'accounts:startup_register7_view' %}">
            {% csrf_token %}
            <div class="questions">
                <div class="question">
                    <p>1. How much are you looking to raise and what are the terms?</p>
                    <input type="text" name="q1" id="fundingAmountTerms" placeholder="Investors want to know the funding requirements and the terms of the investment.">
                </div>
                <div class="question">
                    <p>2. What are the potential risks to the business?</p>
                    <input type="text" name="q2" id="businessRisks" placeholder="Describe any potential risks to the business.">
                </div>
                
                <button type="submit" >Next</button>
            </div>
        </form>
    </div>

</body>
</html>
