{% load static %}
{% include 'header.html' %}
    {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_profile</title>
    <link rel="stylesheet" href="{% static 'styles/css/User_profile.css' %}">
</head>
<body>
    <h1 id="myprofile">My Profile</h1>
    <div id="Main-profile-container">
        <div id="avatar-card">
            <img src="{% static 'styles/images/profile.jpg' %}" alt="profile photo" id="avatar">
            <h2 id="name1">Sravan Reddy</h2>
            <h3 id="loc">Hyd,India</h3>
        </div>
        <div id="details-card">
            <div id="a">
                <table>
                <tr>
                    <td><strong>Name :</strong></td>
                    <td>Srinivas Reddy</td>
                </tr>
                <tr>
                    <td><strong>Mail ID : </strong></td>
                    <td>srinivas@gmail.com</td>
                </tr>
                <tr>
                    <td><strong>Profession :</strong></td>
                    <td>Employee at Shark Industries</td>
                </tr>
                <tr>
                    <td><strong>Contact :</strong></td>
                    <td>7036469121</td>
                </tr>
                <tr>
                    <td><strong>Location :</strong></td>
                    <td>Hyd,India</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="button-container">
        <button><a href="{% url 'signup' %}" class="buttons">Become an Investor</a></button>
        <button><a href="{% url 'verification1' %}" class="buttons">Register as a Startup</a></button>
   </div>
</body>
</html>
{% endblock content %}