/*header*/
#about,#contact,#logout,#shark{
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
    text-decoration: none;
    white-space: nowrap;
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: rgba(17,78,113,0.7);
    position: relative;
}
#shark{
    margin-left: 15px;
}
#about{
    margin-left: 600px; 

}
#contact{
    margin-left: 100px;
}
#logout{
    margin-left: 100px;
}
#logo{
    width: 70px;
    height: 55px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
}
#prof{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 50%;
}

@media(max-width:768px){

header{
    flex-direction: column;
    height: 120px;
}
#shark{
    margin-left: 120px;
    margin-top:-40px ;
}
#about{
    margin-left: 10px;
    font-size: 22px;
}
#contact{
    margin-left: 115px;
    font-size: 22px;
    margin-top: -25px;
}
#logout{
    margin-left: 240px;
    font-size: 22px;
    margin-top: -25px;
}
#prof{
    margin-left: 325px;
    font-size: 22px;
    height: 35px;
    width: 35px;
    margin-top: -30px;
}
}