.startup-name{
    font-family: Inter;
   font-size: 35px;
   font-weight: 500;
   text-align: left;
   margin-bottom: 40px;
   
   }
   .profile{
   width: 127px;
   height: 35px;
   font-family: Inter;
   font-size: 28px;
   font-weight: 400;
   line-height: 0PX;
   text-align: left;
   margin-bottom: 10px;
   
   }
   .about{
     font-family: Inter;
   font-size: 20px;
   font-weight:300px;
   line-height: 35px;
   text-align: left;
   
   }
   .startupinfo-profile{
   display: flex;
   padding: 0;
   margin: 0;
   }
   .About{
     font-family: Inter;
   font-size: 40px;
   font-weight: 350;
   text-align: left;
   margin: 0;
   padding: 0;
   }
   .info{
     font-family: Inter;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   
   }
   .button{
     text-align: center;
   }
   .intersted-button{
      color:white;
      background-color:#114E71;
      border-radius: 10px;
      width: 200px;
      height:30px;
      border:none;
       }
   .profile-pic{
       
     width: 250px;
     height: 150px;
     object-fit: cover;
     margin-left: 200px;
    
   }
   
   .videoplayer{
       margin-left:330px;
       margin-top: 20px;
       margin-bottom: 50px;
   }                 
     
     .row{
       text-align: center;
       }
   .statistics{
     width: 60%;
     padding: 5px;
   }
   .statistics_2{
     width: 60%;
     padding: 5px;
   }
   
   